@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-background: #242424;

  /* surfaces */
  --color-card: var(--color-white);
  --color-border: var(--color-gray-200);
  --color-section: var(--color-white);

  /* text */
  --color-fg: var(--color-gray-950);
  --color-muted: var(--color-gray-500);
  --color-background: var(--color-gray-50);
}

/* Dark theme overrides */
.dark {
  --color-card:  var(--color-gray-950);
  --color-border: var(--color-gray-800);
  --color-section: var(--color-gray-900);

  --color-fg: var(--color-gray-200);
  --color-muted: var(--color-gray-400);
  --color-background: var(--color-gray-950);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color-scheme: dark;
}